.font {
  font-size: 4rem;
}

body {
  background-color: #ffffff;
}

.footer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.privacy {
  text-decoration: none;
  color: black;
}

.btn {
  border-color: #de462a !important;
  border-width: 4px !important;
  border-bottom-left-radius: 20px !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 0px !important;
}

.font1 {
  color: #43403e;
  font-size: 2rem;
}
.images {
  display: flex;
  align-items: center;
}

.font2 {
  font-size: 1rem;
}

video {
  border-radius: 120px 0 0 0 !important;
}

.empowered {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("https://quant.network/assets/uploads/2022/03/london-areal.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50%;
  color: white;
  height: 700px;
}

.font3 {
  font-size: 2rem;
}

.font6 {
  font-size: 1rem;
}

.btn1 {
  color: white !important;
}

.page1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.font5 {
  font-size: 2rem;
  color: #43403e;
}
.font6 {
  font-size: 1rem;
}

.finance {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("https://quant.network/assets/uploads/2022/03/london-areal.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50%;
  color: white;
  height: 500px;
}

.font7 {
  font-size: 1.5rem;
  color: #43403e;
}

.fontt {
  color: #f37749;
}

.fonnt {
  background-color: #f15a22;
}

.pic{
  background-image: url("https://quant.network/assets/uploads/2022/09/Sibos-guide-mockup-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.cardpic{
  margin-left: auto !important;
  right: 0 !important;

}
